{% extends "tema.html" %}

{% block icerik %}
  <main role="main" class="container-fluid">
    <div class="row" >
    <div class="col-md-5 offset-md-2">

    {% if session['id'] %}
    <div class="card bg-light">
      <div class="card-header bg-light">
        İleti Giriniz:
      </div>
      <div class="card-body">
        <form action="/iletikaydet" method="POST" >
          <div class="form-group">
          <textarea class="form-control" name="txt_ileti" rows="3"></textarea>
          <input type="submit" value="Gönder" class="btn btn-success">
        </div>
      </form>
        
      </div>
    </div>
    {% endif %}

    {% for ileti in iletiler %}
    <div class="card bg-light mt-5">
      <div class="card-header bg-light">
        <div class="media">
          <img class="img-fluid img-thumbnail align-self-center mr-3"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/48px-User_icon_2.svg.png"
            alt="Cinque Terre">
          <div class="media-body">
            <h5 class="mt-3"><a href="/profil/{{ileti[0].id}}">{{ileti[0].ad}} {{ileti[0].soyad}}</a></h5>
          </div>
        </div>
      </div>
    
      <div class="card-body ">
        <p class="card-text">{{ileti[1].iletiicerik}}</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="col-md-4">
    <div class="card mt-5" style="width: 18rem;">
      <div class="card-header">
        Önerilen Kullanıcılar
      </div>
      <ul class="list-group list-group-flush">
    {% for kullanici in kullanicilar %}
      <li class="list-group-item" ><a class="text-transform:capitalize;"  href="/profil/{{kullanici.id}}" > {{ kullanici.ad  }} {{kullanici.soyad}}</a> </li>
    {% endfor %}
  </ul>
  </div>
</div>


  </main><!-- /.container -->
  {% endblock %}
